<form action="/submit-form" method="POST">
    <label for="sname">Name</label><br>
    <input type="text" name="sname" id="sname" required><br>

    <label for="snumber">Student number</label><br>
    <input type="number" name="snumber" id="snumber" required>

    <label for="email">School email</label><br>
    <input type="email" name="email" id="email" required>

    <input type="submit" value="Submit">
</form>