@font-face {
    font-family: Futura;
    src: url(../fonts/FuturaHEMAProOT-Book.otf);
}

:root {
    --color: #000;
    --border: #cccccc;
    --alert-color: #cc0000;
}

/* Global */

.active {
    color: #fff;
    background-color: var(--alert-color);
}

.wrapper {
    display: flex;
}

label[for="vak"],
label[for="teachers"],
label[for="weeks"] {
    display: none;
}

html, body {
    font-family: Futura;
}

body {
    height: 100dvh;
}

legend {
    padding: 1em;
}

ol {
    padding-left: 0;
    display: flex;
    list-style-position: inside;
    justify-content: space-around;
}

ol li {
    width: 2em;
    height: 2em;
    line-height: 2;
    text-align: center;
    border: 1px solid var(--border);
}

input {
    border-radius: 4px;
    border: 1px solid var(--border);
    height: 2.5em;
}

input, select, textarea{
    color: var(--color);
}

form {
    margin: 0 auto;
    width: 60%;
}

body section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body section form fieldset {
    border: 1px solid var(--border);
    border-radius: 4px;
    margin-bottom: .5em;
}

body section form fieldset p {
    margin-top: 0;
}

body section form button {
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
}

body section form fieldset label {
    font-size: 1em;
}

body section form fieldset input {
    margin-right: 1em;
    background-color: #fff;
}

body section form fieldset input + span {
    display: none;
    margin-bottom: 1em;
    font-size: 1em;
}

body section form fieldset input:invalid + span {
    display: inline-block;
    color: var(--alert-color);
}

body section form fieldset input:placeholder-shown:invalid + span {
    display: none;
}

body section form fieldset input {
    margin-right: 1em;
}

body section form fieldset:first-of-type input {
    margin-bottom: 1em;
}

body section form fieldset:not(:first-of-type) input:nth-of-type(1),
body section form fieldset:not(:first-of-type) input:nth-of-type(2) {
    margin-bottom: 1em;
}

#back {
    float: left;
}

#next,
input[type="submit"] {
    float: right;
}

@supports not (height: 100dvh) {
    body {
        height: 100vh;
    }
}

@supports (display: flex) {
    fieldset {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    fieldset label {
        display: flex;
        flex-direction: column;
    }
}

