<!DOCTYPE html>
<html>
    <%- include ("../partials/head.ejs") %>
<body>
  <h1>Form submitted successfully!</h1>
  <p>Name: <%= studentName %></p>
  <p>Student number: <%= studentNumber %></p>
  <p>Email: <%= studentEmail %></p>
</body>
</html>